*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:450px;
    background:orange;
    padding:40px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 5px 10px rgba(0,0,0,0.3);
}

h1{
    margin-bottom:20px;
    color:#333;
}

input{
    width:100%;
    padding:12px;
    font-size:18px;
    margin-bottom:20px;
    border:none;
    border-radius:5px;
}

button{
    padding:12px 30px;
    font-size:18px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    background:white;
}

button:hover{
    background:#333;
    color:white;
}

#result{
    margin-top:20px;
    font-size:20px;
    font-weight:bold;
    color:rgb(242, 240, 240);
}